
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset = "UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <title>login page</title>
            <link rel = "stylesheet" href = "../static/login.css">
        </head>
        <body>
            <header>
                <div id = "bgcover"></div>  
            </header>

            <main>
                <form method = "post">
                    <div id = "div1">
                        <h1 id = "a1">LOGIN PAGE</h1>
                        <input id = "inp1" name = "input1" placeholder = "username">
                        <input id = "inp2" name = "input2" placeholder = "password">
                        <button id = "btn1">login</button>
                        <a id = "link2" href = "/singup">sing up</a>   
                    </div>
                </form>
            </main>

            <footer>
                <a href = "https://github.com/itfeelsnice" target = "_blank" id = "link1">github account</a>
            </footer>
        </body>
    </html>

























