
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset = "UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <title>login page</title>
            <link rel = "stylesheet" href = "../static/login.css">
        </head>
        <body>
            <header>
                <div id = "bgcover"></div>    
            </header>

            <main>
                <form method = "post">
                    <div id = "div1">
                        <input id = "inp1" name = "input1" placeholder = "username">
                        <input id = "inp2" name = "input2" placeholder = "username">
                        <button id = "button">click me</button>
                    </div>  
                </form>
            </main>

            <footer>
                <a src = "https://github.com/itfeelsnice">github account</a>
            </footer>
        </body>
    </html>

























