
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset = "UTF-8">
            <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
            <meta name = "author" content = "itfeelsnice">
            <title>singup page</title>
            <link rel = "stylesheet" href = "../static/singup.css">
        </head>
        <body>
            <header>
                <div id = "bgcover"></div>    
            </header>

            <main>
                <form method = "post">
                    <div id = "div1">
                        <h1 id = "a1">SING UP PAGE</h1>
                        <input id = "inp3" name = "input3" placeholder = "username">
                        <input id = "inp4" name = "input4" placeholder = "password">
                        <button id = "btn2">sing up</button>
                        <h1 id = "a2">{{info1}}</h1>
                    </div>  
                </form>
            </main>

            <footer>
                <a id = "link2" href = "https://github.com/itfeelsnice">github account</a>
            </footer>
        </body>
    </html>


















